<a href="https://colab.research.google.com/github/jhonalexander1606/series_google_colab/blob/main/series_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SERIES USANDO FOR

In [10]:
# serie 1: 1, 2, ,3, 4, 5, 6, 7, 8, 9, 10

print("------------------------")
print("--------SERIE_1---------")
print("------------------------")

s = "serie: {"
for i in range(1,11):
  if i != 10:
    s = s + str (i) + ", "
  else:
    s = s + str (i) + "}"

print(s)

------------------------
--------SERIE_1---------
------------------------
serie: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
# serie 2: 1, 4, 9, 16, 25, 36, 49, 64, 81,...


print("------------------------")
print("--------SERIE_2---------")
print("------------------------")

s = "serie: {"
for i in range(1,11):
  if i != 10:
    s = s + str (i**2) + ", "
  else:
    s = s + str (i) + "}"

print(s)

------------------------
--------SERIE_1---------
------------------------
serie: {1, 4, 9, 16, 25, 36, 49, 64, 81, 10}

In [17]:
# serie 3: 2, 4, 8, 16, 32, 64,...


print("------------------------")
print("--------SERIE_3---------")
print("------------------------")

s = "serie: {"
for i in range(1,11):

  if i != 10:
    s = s + str (2**i) + ", "
  else:
    s = s + str (2**i) + "}"

print(s)

------------------------
--------SERIE_3---------
------------------------
serie: {2, 4, 8, 16, 32, 64, 128, 256, 512, 10}

In [21]:
# serie 4: 2, 6, 12, 20, 30, 42, 56,...


print("------------------------")
print("--------SERIE_3---------")
print("------------------------")

s = "serie: {"
for i in range(1,11):

  if i == 1:
    s = s + str (i*(i+1)) + ", "
  else:
    s = s + str (i*(i+1)) + "}"

print(s)

------------------------
--------SERIE_3---------
------------------------
serie: {2, 6, 12, 20, 30, 42, 56, 72, 90, 110}